body {
    background: #f5f5f5;
}

code {
    position: relative;
    width: 19%;
    background: #333;
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin: 5px;
    margin-top: 30px;
    line-height: 2;
    display: inline-block;
}

code span{
    position: absolute;
    width: 100%;
    background-color: #666;
    display: block;
    margin:-4px;
    padding:3px;
    line-height: 1.3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 9999;
}

.field{
    padding: 20px;
}
.tags{
	padding: 0 15px;
    margin-top: -45px;
    word-wrap: break-word;
}

input.title{
	height: 50px;
}
input,textarea {
    margin-bottom: 15px;
    border-radius: 4px !important;
}
.clear{
    position: fixed;
    bottom: 0;
    right: 0;
}
.tognote{
    position: fixed;
    bottom: 0;
    left: 0;
}
p{
    margin-bottom: 0;
}